[project]
	description = Getting Started with Node on Heroku
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Amit-Shingavi
[access "refs/for/refs/*"]
	read = group user/Amit-Shingavi
	push = group user/Amit-Shingavi
	label-Code-Review = -2..+2 group user/Amit-Shingavi
	label-Verified = -1..+1 group user/Amit-Shingavi
	rebase = group user/Amit-Shingavi
	removeReviewer = group user/Amit-Shingavi
	submit = group user/Amit-Shingavi
[access "refs/heads/*"]
	read = group user/Amit-Shingavi
	create = group user/Amit-Shingavi
	push = +force group user/Amit-Shingavi
	pushMerge = group user/Amit-Shingavi
[access "refs/tags/*"]
	push = +force group user/Amit-Shingavi
	createTag = group user/Amit-Shingavi
	createSignedTag = group user/Amit-Shingavi
